* {
    margin: 0;
    padding: 0;
}

#body-pagina-antiga {
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho-pagina-antiga > h1 {
    display: flex;
    padding-inline: 20px;
    padding-block: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    background-color: #E5E5E5;
}

#cabecalho-pagina-antiga > img {
    display: flex;
    height: 20px;
    width: 100%;
}

#nav-pagina-antiga {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    padding-block: 10px;
    gap: 10px;
    background-color: #E5E5E5;

}

.linha-vertical-nav {
    height: 25px;
    border: 10px;
    border-right: 1px solid rgb(175, 174, 169);
}

#nav-pagina-antiga > button {
    display: flex;
    align-items: center;
    gap: 4px;
}

#botao-salvar {
    padding-inline: 6px;
    padding-block: 2.5px;
}

#imagem-icone-salvar {
    height: 18px; 
    width: 18px;
}

#botao-cancelar {
    padding-inline: 6px;
    padding-block: 4px;
}

#imagem-icone-cancelar {
    height: 13px; 
    width: 15px;
    padding-right: 3px;
}

#botao-editar {
    padding-inline: 8px;
    padding-block: 4.3px;
}

#imagem-icone-editar {
    height: 15px; 
    width: 15px;
    padding-right: 3px;
}

#botao-load-draft {
    padding-inline: 8px;
    padding-block: 4.2px;
}

#botao-refresh {
    padding-inline: 8px;
    padding-block: 4.6px;
}

#imagem-icone-refresh {
    height: 15px; 
    width: 15px;
}

#botao-undo {
    padding-inline: 8px;
    padding-block: 2.5px;
}

#imagem-icone-undo {
    height: 20px; 
    width: 20px;
}

#botao-redo {
    padding-inline: 8px;
    padding-block: 2.5px;
}

#imagem-icone-redo {
    height: 20px; 
    width: 20px;
}

#botao-check {
    padding-inline: 10px;
    padding-block: 5px;
}

.botoes-icones-tabelas {
    padding-block: 4px;
    padding-inline: 8px;
}

.imagens-icones-tabelas {
    height: 17px; 
    width: 17px;
}

#botao-addfunc {
    padding-block: 4px;
    padding-inline: 8px; 
}

#navegacao-tabela1 {
    display: flex;
    padding-inline: 20px;
    padding-block: 20px;
    gap: 35px;
    align-items: center;
}

#navigation {
    font-size: 18px;
    font-weight: 600;
}

#repositories {
    font-size: 15px;
    padding-right: 15px;
}

#botao-pasta {
    height: 20px; 
    width: 20px;
}

#linha-vertical-maior {
    height: 200;
    border: 10px;
    border-right: 1px solid rgb(175, 174, 169);
}

table {
    border-collapse: collapse;
    border: 0.1px solid #E5E5E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}
  
thead {
    text-align: start;
    background-color: #E5E5E4;
}

th, td {
    border: 0.1px solid rgb(160 160 160);
    padding: 6px 7px;
    font-weight: 150;
}

th {
    text-align: start;
    background-color: #E5E5E4;
}

.coluna-vazia {
    padding: 6px 15px;
    background-color: #007DC0;
}

.linha-azulada {
    background-color: #D0E8F5;
}