#body-index1 {
    display: flex;
}

#section1-index1 {
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}

#section2-index1 {
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}

#section3-index1 {
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}

#aside-index1 {
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}

#section1-index1 {
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}