#body-index1 {
    display: flex;
}

#article-index1 {
    width: 60%;
    margin-left: 1%;
}

/*---------------------------------------------------*/
#article-section1-index1 {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 5%;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
}

#article-section1-index1 img {
    height: 200px;
    width: auto;
}

#mensagens-posso-ajudar {
    color: #3959b4;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 21px;
}

#botao-fale-comigo {
    background-color: #3959b4;
    color: white;
    border-radius: 10px;
    border: 0;
    text-align: start;
    padding-left: 5%;
    width: 60%;
}

.botao {
    background-color: #3959b4;
    color: white;
    border-radius: 10px;
    padding: 1%;
    width: 250px;
    height: 30px;
    border: 0;
    font-size: 70%;
}

.seta {
    border: 0;
    border-radius: 100%;
    color: #3959b4;
}

/*
#article-section1-index1 button {
    background-color: #3959b4;
    color: white;
    border-radius: 10px;
    padding: 1%;
    width: 120%;
    height: 22px;
    border: 0;
}
*/

.botao-e-seta {
    display: flex;
}

#botoes-posso-ajudar {
    margin-right: 5%;
}

#article-section1-index1 #botoes-posso-ajudar div {
    margin: 2%;
}

/*---------------------------------------------------*/

#article-section2-index1 {
    width: auto;
    height: 200px;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
    margin-right: 2.5%;
}

#article-section3-index1 {
    width: auto;
    height: 200px;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
    margin-right: 2.5%;
    margin-top: 2.5%;
}

#aside-index1{
    width: 40%;
    margin-right: 1%;
}

#aside-section1-index1{
    width: auto;
    height: 210px;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 2.5%;
}

#aside-section2-index1{
    width: auto;
    height: 200px;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
}

#aside-section3-index1{
    width: auto;
    height: 200px;
    background-color: #dae9f7;
    border-radius: 10px;
    padding: 1%;
    margin-top: 2.5%;
}