* {
    margin: 0;
    padding: 0;
}

#body-pagina-antiga {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCDCDC;
    margin: 0;
    padding: 0;
    border: 0;
}

#cabecalho-pagina-antiga>h1 {
    margin: 0;
    margin-top: 2px;
    padding-inline: 20px;
    padding-block: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    background-color: #DCDCDC;
    white-space: nowrap;
}

#listras-tons-amarelos {
    background-image: url(./imagens/listras.png);
    background-repeat: repeat-x;
    padding-block: 10px;
    width: 100%;
}

#nav-pagina-antiga {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 10px;
    padding-block: 10px;
    gap: 10px;
    background-color: #DCDCDC;

}

.linha-vertical-nav {
    height: 25px;
    border: 10px;
    border-right: 1px solid rgb(175, 174, 169);
}

#nav-pagina-antiga>button {
    display: flex;
    align-items: center;
    gap: 4px;
}

#botao-salvar {
    padding-inline: 6px;
    padding-block: 2.5px;
    white-space: nowrap;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-salvar {
    height: 18px;
    width: 18px;
}

#botao-cancelar {
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-cancelar {
    height: 13px;
    width: 15px;
    padding-right: 3px;
}

#botao-editar {
    padding-inline: 8px;
    padding-block: 4.3px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-editar {
    height: 15px;
    width: 15px;
    padding-right: 3px;
}

#botao-load-draft {
    padding-inline: 8px;
    padding-block: 4.2px;
    white-space: nowrap;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#botao-refresh {
    padding-inline: 8px;
    padding-block: 4.6px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-refresh {
    height: 15px;
    width: 15px;
}

#botao-undo {
    padding-inline: 8px;
    padding-block: 2.5px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-undo {
    height: 20px;
    width: 20px;
}

#botao-redo {
    padding-inline: 8px;
    padding-block: 2.5px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-icone-redo {
    height: 20px;
    width: 20px;
}

#botao-check {
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.botoes-icones-tabelas {
    padding-block: 4px;
    padding-inline: 8px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.imagens-icones-tabelas {
    height: 17px;
    width: 17px;
}

#botao-addfunc {
    padding-block: 4px;
    padding-inline: 8px;
    white-space: nowrap;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
}

#aside-antiga {
    padding-bottom: 200px;
    background-color: white;
}

#navegacao-tabela1 {
    display: flex;
    padding-left: 20px;
    padding-block: 5px;
    padding-top: 5px;
    gap: 35px;
    align-items: center;
    background-color: #F2F2F2;
}

#navigation {
    font-size: 18px;
    font-weight: 600;
}

#repositories {
    font-size: 15px;
    padding-right: 10px;
}

#botao-pasta {
    height: 18px;
    width: 20px;
    opacity: 70%;
    padding-right: 10px;
}

#indicador-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

#indicador-1>.seta-azul-selected {
    height: 10px;
    width: 30px;
    padding-left: 48px;
}

#blue-line {
    max-height: 5px;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 0.1px solid #DCDCDC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    background-color: white;
}

thead {
    text-align: left;
    background-color: #DCDCDC;
}

th,
td {
    border: 0.1px solid rgb(160 160 160);
    padding: 6px 12px;
    font-weight: 150;
    white-space: nowrap;
}

th {
    text-align: start;
    background-color: #DCDCDC;
}

#nav-table-2 {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

#navegacao-tabela2 {
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    gap: 10px;
    align-items: center;
}

#navegacao-tabela2>img {
    height: 40px;
    width: 50px;
}


#overview-page-schema {
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
}

#toolbar-schema {
    font-size: 15px;
    padding-right: 30px;
}

#wire-schema {
    font-size: 15px;
}

#div-pasta {
    display: flex;
    padding-right: 30px;
    padding-block: 0px;
    align-items: center;
}

#botao-pasta-2 {
    height: 18px;
    width: 20px;
    opacity: 70%;
}

#indicador-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

#indicador-2>.seta-azul-selected {
    height: 10px;
    width: 30px;
    padding-left: 170px;
}

.blue-line-2 {
    height: 5px;
    width: 100%;
}

.imagem-tabela-2 {
    height: 18px;
    width: 18px;
    padding-right: 5px;
    padding-left: 50px;
}

#section-table-2 {
    display: flex;
}

#section-botoes-table-two {
    display: flex;
    justify-content: space-between;
}

#buttons-table-two-part1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: #DCDCDC;
}

.imagem-plus {
    height: 20px;
    width: 18px;
    padding-right: 5px;
}

.botoes-plus {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    padding-block: 3px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#buttons-table-two-part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-block: 6px;
    padding-inline: 10px;
    background-color: #DCDCDC;
}

#botao-UIBB {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    padding-block: 4px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.table-2-resolution {
    align-self: flex-start;
    padding-block: 6px;
    padding-right: 295px;
    font-size: 15px;
    font-weight: 500;
}

.coluna-vazia {
    padding: 6px 15px;
    background-color: #007DC0;
}

#icone-de-repeticao {
    height: 20px;
    width: 20px;
}

.fundo-cinza {
    background-color: #E9EDF0;
}

#cedula-cheia {
    display: flex;
    align-items: center;
    background-color: #E9EDF0;
    border: none;
}

#cedula-verde {
    height: 18px;
    width: 18px;
    padding-right: 5px;
    padding-left: 8px;
}

#seta-da-tabela2 {
    height: 8px;
    width: 12px;
    padding-left: 10px;
}

#scroll {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

#scroll>div {
    align-content: center;
}

#barra-de-rolagem {
    height: 15px;
    width: 1000px;
    padding-bottom: 3px;
}

.setas-rolagem {
    padding-top: 5px;
    height: 22px;
    width: 30px;
}

.linha-azulada {
    background-color: #D0E8F5;
}

#formulario {
    margin-top: 10px;
    padding-bottom: 80px;
    background-color: white;
}

#titulo-footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15px;
    align-items: center;
}

#titulo-footer>div>p {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: 600;
    padding-left: 10px;
}

#titulo-footer>div>button {
    margin-top: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 4px;
    padding-inline: 8px;
}

#dados-formulario {
    display: flex;
    flex-direction: row-reverse;
    padding-inline: 100px;
    gap: 100px;
    padding-top: 20px;
}

#dados>div>label>img {
    padding-right: 3px;
    height: 15px;
    width: 20px;
}

#dados,
#dados-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}


#dados-2>div>input {
    padding-left: 150px;
    padding-bottom: 6px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#dados>div>input {
    padding-left: 150px;
    padding-bottom: 6px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#dados>div {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

#dados-2>div {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

#buttons-table-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-block: 8px;
    padding-inline: 10px;
    background-color: #DCDCDC;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#botao-new {
    display: flex;
    align-items: center;
    padding-inline: 4px;
    padding-block: 2px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#imagem-folha-com-sol {
    height: 20px;
    width: 20px;
}

.botoes-trash-double-paper {
    display: flex;
    align-items: center;
    padding-inline: 1px;
    padding-block: 2px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.imagem-lixo {
    height: 20px;
    width: 30px;
}

#imagem-double-paper {
    height: 20px;
    width: 30px;
}

#botao-up {
    display: flex;
    align-items: center;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

#botao-down {
    display: flex;
    align-items: center;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.user-config {
    height: 23px;
    width: 30px;
}

.botao-user-config {
    display: flex;
    align-items: center;
    padding-inline: 3px;
    padding-block: 0px;
    background-color: #E3E1E4;
    border-radius: 0%;
    border: 0.1px solid rgb(160 160 160);
}

.background-button {
    background-color: #E3E1E4;
    border-radius: 0%;
    border: 0.1px solid rgb(179, 175, 175);
}